/* css/style.css */

/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

h1 {
    font-size: 2em;
}

main {
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
}

.section {
    flex: 1;
    margin: 10px;
    border: 1px solid #000;
    background-color: #f0f0f0;
    position: relative;
}

.section-title {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-bottom-left-radius: 5px;
    font-weight: bold;
}

p {
    padding: 10px;
}

/* Media queries */
@media screen and (min-width: 768px) and (max-width: 991px) {
    .section {
        flex-basis: calc(50% - 20px); /* Two sections side by side with margin */
        max-width: calc(50% - 20px); /* Prevents sections from exceeding half the width */
    }

    .section:nth-child(3) {
        flex-basis: calc(100% - 20px); /* Third section takes up entire row with margin */
        max-width: calc(100% - 20px); /* Prevents section from exceeding full width */
    }
}

@media screen and (max-width: 767px) {
    .section {
        flex: 1 1 100%;
    }
}

#d1
{
    background-color: pink;
}

#d2
{
    background-color: red;
}

#d3
{
    background-color: yellow;
}